<div class="filter-chips-container">
  <div class="filter-header" (click)="toggleExpanded()">
    <span class="filter-title">Selected Filters</span>
    <div class="filter-header-right">
      <span class="filter-count">{{ filters.length }}</span>
      <mat-icon class="filter-toggle-icon">
        {{ isExpanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
      </mat-icon>
    </div>
  </div>

  <div class="filter-chips" [class.expanded]="isExpanded" *ngIf="isExpanded">
    <mat-chip-set>
      <mat-chip 
        *ngFor="let filter of filters" 
        class="filter-chip">
        {{ filter.label }}
        <mat-icon 
          matChipRemove 
          class="remove-icon"
          (click)="removeFilter(filter.id)">
          cancel
        </mat-icon>
      </mat-chip>
    </mat-chip-set>
  </div>
</div>
