@if (type === 'bar') {
  <div class="chips-bar-container">
    <mat-chip-set>
      <mat-chip 
      *ngFor="let filter of filters" 
      class="chip">
      {{ filter.label }}
      <mat-icon 
      matChipRemove 
      class="chip-remove-icon"
      (click)="removeFilter(filter.id)">
      cancel
    </mat-icon>
    </mat-chip>
  </mat-chip-set>
  </div>
} @else {

  <div class="chips-dropdown-container">
    <div class="chips-dropdown-header" (click)="toggleExpanded()">
      <span class="chips-dropdown-title">Selected Filters</span>
      <div class="chips-dropdown-header-right">
        <span class="chips-dropdown-count">{{ filters.length }}</span>
        <mat-icon class="chips-dropdown-toggle-icon">
        {{ isExpanded ? 'keyboard_arrow_up' : 'keyboard_arrow_down' }}
      </mat-icon>
    </div>
  </div>
  <div class="chips" [class.expanded]="isExpanded" *ngIf="isExpanded">
    <mat-chip-set>
      <mat-chip 
      *ngFor="let filter of filters" 
      class="chip">
      {{ filter.label }}
      <mat-icon 
      matChipRemove 
      class="chip-remove-icon"
      (click)="removeFilter(filter.id)">
      cancel
    </mat-icon>
  </mat-chip>
</mat-chip-set>
</div>
</div>
}
